[Desktop Entry]
Encoding=UTF-8
Name=Scribe
Comment=Scribe P2P Cryptocurrency
Comment[fr]=Scribe, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Scribe, eşten eşe kriptografik sanal para birimi
Exec=scribe-qt %u
Terminal=false
Type=Application
Icon=scribe128
MimeType=x-scheme-handler/scribe;
Categories=Office;Finance;
